.medya{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
   
   
}

video{
    width: 24rem;
    margin: 2px;
    padding: 2px;
}

.medyaBaslik{
    /* width: max-content; */
    padding: 12px;
 
    border-bottom: 5px solid #ccc;
    
    /* width: 25%;
    margin:0 auto; */
   
    text-align: center;
    
}

body{
    background-image: url(resimler/arkaplan2.jpg);
}
/* 
flex-direction: column;
align-items: center ; ile alt alta ve ortalı yapabiliriz */